node-red-proj/config/.flows.json.backup
[{"id":"a643c124.791e5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6371bd3.8b2d244","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e1084a92.2b0be8","type":"inject","z":"a643c124.791e5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":380,"wires":[["446737a.e815fc8"]]},{"id":"446737a.e815fc8","type":"debug","z":"a643c124.791e5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":380,"y":460,"wires":[]},{"id":"22a5a1b3.74952e","type":"http in","z":"6371bd3.8b2d244","name":"","url":"/search","method":"get","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["5707025a.f2e60c"]]},{"id":"461b7188.fa043","type":"http response","z":"6371bd3.8b2d244","name":"","statusCode":"","headers":{},"x":390,"y":440,"wires":[]},{"id":"a0f9d813.bf8108","type":"http request","z":"6371bd3.8b2d244","name":"get /books","method":"POST","ret":"obj","url":"http://localhost:9200/books/_search","tls":"","x":410,"y":260,"wires":[["56ed72db.3e781c"]]},{"id":"56ed72db.3e781c","type":"function","z":"6371bd3.8b2d244","name":"extract titles","func":"msg.payload = msg.payload.hits.hits\n    .map(hit=>hit._source.title);\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["461b7188.fa043"]]},{"id":"748977b5.595d28","type":"catch","z":"6371bd3.8b2d244","name":"","scope":null,"x":620,"y":180,"wires":[["2dca6c26.6d2bc4"]]},{"id":"2dca6c26.6d2bc4","type":"http response","z":"6371bd3.8b2d244","name":"","statusCode":"","headers":{},"x":660,"y":260,"wires":[]},{"id":"5707025a.f2e60c","type":"switch","z":"6371bd3.8b2d244","name":"q?","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":140,"y":260,"wires":[["1ca13b88.086dd4"],["9bebad12.bcbbd"]]},{"id":"1ca13b88.086dd4","type":"change","z":"6371bd3.8b2d244","name":"prep query","rules":[{"t":"set","p":"payload.query","pt":"msg","to":"{\"match_phrase\":{}}","tot":"json"},{"t":"move","p":"payload.q","pt":"msg","to":"payload.query.match_phrase.title","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":180,"wires":[["a0f9d813.bf8108"]]},{"id":"9bebad12.bcbbd","type":"change","z":"6371bd3.8b2d244","name":"400","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"error\":\"Query string ’q’ missing.\"}","tot":"json"},{"t":"set","p":"statusCode","pt":"msg","to":"400","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":340,"wires":[["c5f8e1b.c44f22"]]},{"id":"c5f8e1b.c44f22","type":"http response","z":"6371bd3.8b2d244","name":"","statusCode":"","headers":{},"x":150,"y":420,"wires":[]}]